<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>formulario</title>

	<link rel="stylesheet" type="text/css" href="css/estiloform_cambiar.css">

</head>
<body>

  <form action="">

    <div class="formulario">
      <h1>ㅤㅤCAMBIAR CONTRASEÑAㅤㅤ</h1>





      <div class="label">
        <label for="pass">CONTRASEÑA NUEVA</label>
      </div>
      <div>
        <input type="password" placeholder="Ingrese su nueva contraseña" required class="inputc">
      </div>


      <div class="label">
        <label for="pass">CONTRASEÑA DE NUEVO</label>
      </div>
      <div>
        <input type="password" placeholder="Ingrese de nuevo su nueva contraseña" required class="inputc">
      </div>







      <div class="boton">
        <input type="submit" value="GUARDAR" class="botonc">
      </div>

      <div class="boton">
        <input type="submit" value="CANCELAR" class="botonc">
      </div>

      <div class="link">
        <div><a href="#">¿Iniciar sesion?</a></div>


      </div>


    </div>
  </form>







</body>
</html>
