<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/ini.css}">
    <link rel="icon" href="img/entercost.png" type="image/png" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  </head>
    <title>nueva contraseña</title>
</head>

<body>  

    <div class="container col-3 ">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
        <form  method="post" class="form">
            <input type="hidden" name="token" th:value="${token}" />
          <div class="form-group text-center">
            <h3 class="text-light">Restablecer Contraseña</h3>
            
          </div>
          <div class="iconos">
            <div class=" text-center border-icon">
                <i class='bx bxs-user-check bx-flashing' ></i>
             </div>
        </div>

      
    
        <div class="form-group mx-sm-4">

           
      
            
      <div class="col">
        <label for="clave">Nueva  contraseña</label>
      <input type="password" class="form-control" name="clave" id="clave" >
    </div>

      <div class="col">
        <label for="">Confirme su contraseña</label>
      <input type="password" name="confirmar" class="form-control"  aria-label="Last name">
    </div>
      
      
        
        <div class="ab">
          <button style="margin: 10px" class="btn btn-danger">Enviar</button> 
          <button style="margin: 10px" class="btn btn-danger">Cancelar</button> 

     
        
        </div>

      </div>
    </form>
  </div>
    </div>
</body>
</html>