<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/iniciosesion.css}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="img/entercost.png" type="image/png" />
    <title>Recuperar contraseña</title>
</head>
<body>
    <div class="container-form sign-in">
    	<div th:if="${error != null}">
    		<span class="texto">[[${error}]]</span>
    	</div>
        <form class="formulario"  method="post">
            <h1 class="recuperar">Recuperar Contraseña</h1>
            <div class="iconos">
                <div class="border-icon">
                    <i class='bx bxs-user-check bx-flashing' ></i>
                 </div>
            </div>
            <p>Ingresa tu correo para recuperar la contraseña</p><br>
            <label for="" class="form-label">Correo</label>
            <input type="email" name="email" required placeholder="Ingresa tu correo">
            
            <input type="submit" value="Enviar">
            <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
            
            <p>
            	<a th:href="@{/login}">Ya tienes cuenta?</a>
            </p>
    </form>
        </div>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
</body>
</html>