<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | ENTER COST</title>

    <!--========================================
        Fuentes - Tipo de letra - Iconografia 
    ==========================================-->
    <link rel="icon" href="img/entercost.png" type="image/png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">


    <!--========================================
       Mis estilos
    ==========================================-->
    <link rel="stylesheet" th:href="@{/css/estilo.css}">


</head>
<body>

    <!--========================================
       contenido
    ==========================================-->

    <div class="contenedor-login">

        <!--========================================
            Slider
        ==========================================-->
        <div class="contenedor-slider">

            <div class="slider">

                <!-- Slide 1 -->

                <div class="slide fade ">
                    <img src="img/Industria-Metalmecanica.jpg" alt="">

                    <div class="contenido-slider">

                    </div>

                </div>

                <div class="slide fade ">
                    <img src="img/ed.webp" alt="">

                    <div class="contenido-slider">
                    </div>

                </div>

                <!-- Slide 2 -->
                <div class="slide fade">
                    <img src="img/taller.jpg" alt="">

                    <div class="contenido-slider">

                    </div>

                </div>

                


            </div>

            <!-- Botones next y prev -->
            <a href="#" class="prev"><i class="fas fa-chevron-left"></i></a>
            <a href="#" class="next"><i class="fas fa-chevron-right"></i></a>

            <!-- dots -->
            <div class="dots">



            </div>

        </div>

        <!--========================================
            Formularios
        ==========================================-->
        <div class="contenedor-texto">


            <div class="contenedor-form">

                <h1 class="titulo">¡Bienvenido a ENTER COST !</h1>
                <p class="descripcion">Ingresa la nueva contraseña por favor.</p>

                <!-- Tabs -->
                <ul class="tabs-links">
                <!--    <a th:href="@{/}"><li class="tab-link active">Index</li></a>
                    <a th:href="@{/recuperar}"><li class="tab-link ">¿Recuperar contraseña?</li></a>-->
                </ul>

                <form method="post" th:action="@{/reset_password}"   class="formulario active">
				<input type="hidden" name="token" th:value="${token}" />
                    	<div th:if="${message != null}">
                        <span class="alert alert-danger alert-dismissable">[[${message}]]</span>
                    </div>
                    <div class="grupo-input">

                        <input type="password" placeholder="Contraseña" required name="clave" id="clave" class="input-text clave"><br>
                        <input type="password" placeholder="Confirma la contraseña" required name="confirmar"  class="input-text clave">
                        <button type="button" class="icono fas fa-eye mostrarClave"></button>
                        
                    </div>
                    
                    <label class="contenedor-cbx animate">
                        por favor darle al botón para cambiar correctamente la contraseña
                       
                    </label>


                    <button class="btn"  type="submit">Cambiar contraseña</button>


                </form>

                 <!--========================================
                    Formulario de Registro
                ==========================================-->
                <!--========================================
                    Formulario de Registro
                ==========================================-->
                



            </div>

        </div>

    </div>

    <script src="js/app.js"></script>
    
</body>
</html>